<!doctype html>
<html lang="en">
<head>
    <title>Products</title>
</head>
<body>
    <h1>Products List</h1>
    <p>This is a simple products.</p>


    {% if err_msg %}
        <p>{{ err_msg }}</p>
    {% else %}
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Category</th>
                <th>Price</th>
            </tr>
        </thead>
        <tbody>
            {% for product in products %}
            <tr>
                <td>{{ product.name }}</td>
                <td>{{ product.category }}</td>
                <td>{{ product.price }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endif %}
</body>
</html>